<style>
    @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
    body {
        margin-bottom: 100px;
        margin-left: 100px;
    }

    h1 {
        margin-top: 100px;
        border-bottom: 2px solid black;
        font-family: 'Sedgwick Ave Display', cursive;
    }
</style>

<style>
    .table1 {
        border-collapse: collapse;
    }

    .table1 td {
        border: 1px solid black;
        padding: 20px;
        font-size: 2em;
        background: pink;
        color: white;
    }

    .table1 td.black {
        background: black;
    }
</style>

<h1>Table</h1>

<table class="table1">
    <tr>
        <td class="black">1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>4</td>
        <td class="black">5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
        <td class="black">9</td>
    </tr>
</table>

<h1>div</h1>

<div class="d1">100 x 100</div>
<div class="d2">200 x 200</div>
<div class="d3">300 x 300</div>

<style>
    .d1 {
        background: pink;
        width: 100px;
        height: 100px;
        margin-left: 200px;
    }

    .d2 {
        background: skyblue;
        width: 200px;
        height: 200px;
        margin-left: 100px;
    }

    .d3 {
        background: lightgreen;
        width: 300px;
        height: 300px;
    }
</style>

<h1>Border Box</h1>

<pre class="d4">IrvineCode</pre>
<pre class="d5">IrvineCode</pre>

<style>
    .d4 {
        width: 400px;
        height: 100px;
        padding: 2px;
        border: 1px solid skyblue;
        box-sizing: border-box;
    }

    .d5 {
        width: 400px;
        height: 100px;
        padding: 30px;
        border: 5px solid skyblue;
        box-sizing: border-box;
    }
</style>

<h1>Columns</h1>

<div class="threeCols">
    <div>blah</div>
    <div>blah</div>
    <div>blah</div>
    <div>blah</div>
    <div>blah</div>
    <div>blah</div>
    <div>blah</div>
    <div>blah</div>
    <div>blah</div>
    <div>blah</div>
    <div>blah</div>
</div>

<style>
    .threeCols {
        columns: 3;
        column-gap: 0;
    }

    .threeCols div {
        border-bottom: 1px solid silver;
        padding: 5px;
    }
</style>

<h1>Inputs</h1>

<div class="inputs">
    <input type="text">

    <button>button1</button>

    <button class="inverted">button2</button>
</div>

<style>
    .inputs input {
        border: 2px solid gold;
        color: gold;
        font-size: 1.5em;
        padding: 20px;
    }

    .inputs button {
        background-color: deepskyblue;
        padding: 20px;
        border-radius: 3px;
        border: 0;
        color: white;
    }

    .inputs button.inverted {
        background-color: white;
        color: deepskyblue;
        border: 1px solid deepskyblue;
    }
</style>

<h1>Alignment</h1>

<div class="alignments vtop">
    <div class="left">left</div>
    <div class="middle">middle</div>
    <div class="right">right</div>
</div>

<div class="alignments vbottom">
    <div class="left">left</div>
    <div class="middle">middle</div>
    <div class="right">right</div>
</div>

<style>
    .alignments div {
        background-color: skyblue;
        margin: 10px;
        width: 30%;
        display: inline-block;
    }

    .alignments .middle {
        text-align: center;
        font-size: 2em;
    }

    .alignments .right {
        text-align: right;
    }

    .alignments.vtop div {
        vertical-align: top;
    }

    .alignments.vbottom div {
        vertical-align: bottom;
    }
</style>

<h1>List</h1>

<ul class="lists">
    <li><span>Apple</span></li>
    <li><span>Pine Apple</span></li>
    <li><span>Banana</span></li>
</ul>

<style>
    .lists {
        list-style: square;
        color: purple;
        font-size: 1.2em;
    }

    .lists li span {
        color: skyblue;
    }
</style>