<style>
    @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
    body {
        margin-bottom: 100px;
        margin-left: 100px;
    }

    h1 {
        margin-top: 100px;
        border-bottom: 2px solid black;
        font-family: 'Sedgwick Ave Display', cursive;
    }
</style>


<h1>Floating image</h1>

<div class="floats">

    <img src="https://images.pexels.com/photos/34608/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb"> Go to PEXELS.COM
    and find an image of your choice. Change the image's width to '50%'.
    <br><br> Go to PEXELS.COM and find an image of your choice. Change the image's width to '50%'.
    <br><br> Go to PEXELS.COM and find an image of your choice. Change the image's width to '50%'.
</div>

<div style="clear: both"></div>

<style>
    .floats {
        font-size: 1.2em;
    }

    .floats img {
        width: 50%;
        float: left;
        margin-right: 30px;
    }
</style>

<h1>Navigations</h1>

<div class="navigations">
    <div class="d1">top menu</div>
    <div class="d2">left menu (100px)</div>
    <div class="d3">
        content<br> content
        <br> content
        <br> content
        <br> content
        <br> content
        <br> content
        <br> content
        <br> content
        <br> content
        <br> content
        <br> content
        <br> content
        <br> content size can change?!
    </div>
</div>

<style>
    .navigations {
        border: 5px solid black;
        padding: 0;
        position: relative;

        height: auto;
    }

    .navigations .d1 {
        height: 20px;
        background-color: coral;
    }

    .navigations .d2 {
        height: 100%;
        background-color: lightgreen;
        width: 100px;
        position: absolute;
        top: 0;
        padding-top: 30px;
        box-sizing: border-box;
        z-index: -1;
    }

    .navigations .d3 {
        margin-left: 105px;
    }
</style>

<h1>Face</h1>

<pre>
    Face : 200 x 200
    Eyes : 50 x 50
    Mouth: 150 x 50
    </pre>

<div class="face">
    <div class="left eye"></div>
    <div class="right eye"></div>
    <div class="mouth"></div>
</div>

<h1>Face 2</h1>

<pre>
    Face : 200 x 200
    Eyes : 50 x 50
    Mouth: 150 x 50
    </pre>

<div class="face">
    <div class="hair"></div>
    <div class="left eye">
        <div class="iris"></div>
    </div>
    <div class="right eye">
        <div class="iris"></div>
    </div>
    <div class="mouth">
        <div class="tongue"></div>
    </div>
</div>


<style>
    .hair {
        position: absolute;
        top: -20px;
        width: 20px;
        height: 20px;
        background: red;
        left: 90px;
    }

    .face {
        border: 3px solid black;
        position: relative;
        width: 200px;
        height: 200px;
    }

    .face .eye {
        width: 50px;
        height: 50px;
        background: black;
        position: absolute;
    }

    .face .left {
        top: 30px;
        left: 25px;
    }

    .face .right {
        top: 30px;
        right: 25px;
    }

    .face .mouth {
        position: absolute;
        bottom: 30px;
        left: 25px;
        width: 150px;
        height: 50px;
        background: black;
    }

    .face .iris {
        margin: 20px auto 0 auto;
        width: 5px;
        height: 5px;
        background: yellow;
    }

    .face .tongue {
        width: 50px;
        height: 100px;
        margin: 0 auto;
        background: red;
        border-radius: 0 0 20px 20px;
    }
</style>

<h1>Many Faces</h1>

<div class="manyFaces">
    <div class="face">
        <div class="hair"></div>
        <div class="left eye">
            <div class="iris"></div>
        </div>
        <div class="right eye">
            <div class="iris"></div>
        </div>
        <div class="mouth">
            <div class="tongue"></div>
        </div>
    </div>
    <div class="face">
        <div class="hair"></div>
        <div class="left eye">
            <div class="iris"></div>
        </div>
        <div class="right eye">
            <div class="iris"></div>
        </div>
        <div class="mouth">
            <div class="tongue"></div>
        </div>
    </div>
    <div class="face">
        <div class="hair"></div>
        <div class="left eye">
            <div class="iris"></div>
        </div>
        <div class="right eye">
            <div class="iris"></div>
        </div>
        <div class="mouth">
            <div class="tongue"></div>
        </div>
    </div>
    <div class="face">
        <div class="hair"></div>
        <div class="left eye">
            <div class="iris"></div>
        </div>
        <div class="right eye">
            <div class="iris"></div>
        </div>
        <div class="mouth">
            <div class="tongue"></div>
        </div>
    </div>
    <div class="face">
        <div class="hair"></div>
        <div class="left eye">
            <div class="iris"></div>
        </div>
        <div class="right eye">
            <div class="iris"></div>
        </div>
        <div class="mouth">
            <div class="tongue"></div>
        </div>
    </div>
    <div class="face">
        <div class="hair"></div>
        <div class="left eye">
            <div class="iris"></div>
        </div>
        <div class="right eye">
            <div class="iris"></div>
        </div>
        <div class="mouth">
            <div class="tongue"></div>
        </div>
    </div>
    <div class="face">
        <div class="hair"></div>
        <div class="left eye">
            <div class="iris"></div>
        </div>
        <div class="right eye">
            <div class="iris"></div>
        </div>
        <div class="mouth">
            <div class="tongue"></div>
        </div>
    </div>
</div>

<style>
    .manyFaces .face {
        display: inline-block;
    }
</style>

<h1>Card</h1>

<div class="card">
    <div class="name">Stephen Curry</div>
    <div class="title">Point Guard</div>
    <div class="photo">photo</div>
    <div class="desc">Wardell Stephen Curry II is an American professional basketball player for the Golden State Warriors</div>
    <div class="buttons">
        <button class="add">Add</button>
        <!--
        --><button class="remove">Remove</button>
    </div>
</div>

<style>
    .cardSrc {
        width: 50%;
        min-height: 300px;
    }

    .card {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
        position: relative;
        max-width: 300px;
    }

    .card .name {
        font-weight: bold;
    }

    .card .title {
        font-size: 0.9em;
        color: darkgray;
    }

    .card .photo {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        background: black;
        color: white;
        font-size: 0.5em;
    }

    .card .desc {
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    .card .buttons {
        border-top: 1px solid gray;
        margin: 0 -10px -10px -10px;
        padding: 10px;
        display: flex;
    }

    .card .buttons .add {
        color: limegreen;
        background: white;
        border: 1px solid limegreen;
        border-radius: 5px 0 0 5px;
        padding: 5px;
        width: 30%;
        margin: 0;
    }

    .card .buttons .remove {
        color: crimson;
        background: white;
        border: 1px solid crimson;
        border-radius: 0 5px 5px 0;
        padding: 5px;
        width: 30%;
        margin: 0 0 0 -1px;
    }
</style>

<h1>Stacks of cards</h1>

<div class="cards">
    <div class="card">
        <div class="name">Stephen Curry</div>
        <div class="title">Point Guard</div>
        <div class="photo">photo</div>
        <div class="desc">Wardell Stephen Curry II is an American professional basketball player for the Golden State Warriors</div>
        <div class="buttons">
            <button class="add">Add</button>
            <!--
        --><button class="remove">Remove</button>
        </div>
    </div>

    <div class="card">
        <div class="name">Stephen Curry</div>
        <div class="title">Point Guard</div>
        <div class="photo">photo</div>
        <div class="desc">Wardell Stephen Curry II is an American professional basketball player for the Golden State Warriors</div>
        <div class="buttons">
            <button class="add">Add</button>
            <!--
        --><button class="remove">Remove</button>
        </div>
    </div>

    <div class="card">
        <div class="name">Stephen Curry</div>
        <div class="title">Point Guard</div>
        <div class="photo">photo</div>
        <div class="desc">Wardell Stephen Curry II is an American professional basketball player for the Golden State Warriors</div>
        <div class="buttons">
            <button class="add">Add</button>
            <!--
        --><button class="remove">Remove</button>
        </div>
    </div>

    <div class="card">
        <div class="name">Stephen Curry</div>
        <div class="title">Point Guard</div>
        <div class="photo">photo</div>
        <div class="desc">Wardell Stephen Curry II is an American professional basketball player for the Golden State Warriors</div>
        <div class="buttons">
            <button class="add">Add</button>
            <!--
        --><button class="remove">Remove</button>
        </div>
    </div>

    <div class="card">
        <div class="name">Stephen Curry</div>
        <div class="title">Point Guard</div>
        <div class="photo">photo</div>
        <div class="desc">Wardell Stephen Curry II is an American professional basketball player for the Golden State Warriors</div>
        <div class="buttons">
            <button class="add">Add</button>
            <!--
        --><button class="remove">Remove</button>
        </div>
    </div>
</div>

<style>
    .cards {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards .card {
        margin-bottom: 5px;
    }
</style>