<style>
    @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
    body {
        margin-bottom: 100px;
        margin-left: 100px;
    }

    h1 {
        margin-top: 100px;
        border-bottom: 2px solid black;
        font-family: 'Sedgwick Ave Display', cursive;
    }
</style>

<h1>Basic</h1>

<div class="basic">
    <ul class="outer">
        <li>apple</li>
        <li>pineapple</li>
        <li>pen</li>
        <ul>
            <li>apple</li>
            <li>pineapple</li>
            <li>pen</li>
            <li class="lastApple">apple</li>
            <li>pineapple</li>
            <li>pen</li>
        </ul>
    </ul>
</div>

<style>
    .basic .outer li {
        color: skyblue;
    }

    .basic .outer>li {
        font-weight: bold;
    }

    .basic .lastApple~li {
        font-weight: bold;
    }

    .basic .lastApple {
        color: crimson !important;
    }

    .basic .lastApple+li {
        color: orange;
    }
</style>

<h1>Attributes</h1>

<div class="attrs">
    text field 1 : <input type="text" value="hello"><br> text field 2 : <input type="text" value="world"><br> text field
    3 : <input type="text" value="hello world"><br> text field 4 : <input type="text" value="hi world"><br> text field 5
    : <input type="text" value="new world order"><br> text field 6 : <input type="text" value="new-world-order"><br> number
    field : <input type="number" value="12"><br>
</div>

<style>
    .attrs input[type='text'] {
        border: 1px solid orange;
        padding: 5px;
    }

    .attrs input[value^='h'] {
        color: blue;
    }

    .attrs input[value*='world'] {
        font-weight: bold;
    }

    .attrs input[value~='world'] {
        background: #eee;
    }
</style>

<h1>Pseudo-selectors</h1>

<div class="pseudo">
    <ul class="outer">
        <li>apple</li>
        <li>pineapple</li>
        <li>pen</li>
        <ul>
            <li>apple</li>
            <li>pineapple</li>
            <li>pen</li>
            <li class="lastApple">apple</li>
            <li>pineapple</li>
            <li>pen</li>
        </ul>
    </ul>
</div>

<style>
    .pseudo li:nth-child(2) {
        color: blue;
    }

    .pseudo li:nth-last-of-type(2) {
        font-weight: bold;
    }

    .pseudo li::first-letter {
        font-size: 1.3em;
        font-weight: bold;
        color: darkgray;
    }
</style>